/* @import-normalize; */

@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100&display=swap');

body {
    /* font: 16px/1.6 Roboto, Helvetica, sans-serif; */
    font-family: 'Glory', sans-serif;
    /* margin: 0; */
    background-color: #393E46;
    color: #eeeeee;
    margin: 0;
}

.d-gray {
    color: #222831
}

.l-gray {
    color: #393E46
}

.blue {
    color: #00ADB5
}

.light {
    color: #EEEEEE
}

.t-underline {
    border-bottom: 1px solid #00ADB5;
    padding-bottom: 3px;
    display: inline-block;
}

.t-c {
    text-align: center;
}

.t-uc {
    text-transform: uppercase;
}

.main-margin {
    margin-left: 25%;
    max-width: 800px;
    padding: 50px;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #eeeeee;
    cursor: pointer;
}

a:link:active,
a:visited:active {
    color: #eeeeee;
}

.link-button {
    padding: 8px 12px;
    background-color: #00ADB5;
    color: #222831 !important;
    font-weight: 600;
}

.tech-tags-li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 12px;
}

.tech-link-button {
    padding: 5px 9px;
    background-color: #00ADB5;
    color: #222831 !important;
    font-size: 10pt;
    font-weight: 600;
    text-transform: uppercase;
}

.link-button:hover {
    text-decoration: underline;
}

.styled-ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 25px;
}